/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';




.keyCard{
    width: 80%; 
    margin: auto;
    font-size: 200px;
}

.keyList{
    width: 80%; 
    margin: auto;
}


.none{

}


.green{
    background-color: darkolivegreen;
}

.red{
    background-color: red;
}