/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";




.keyCard{
    width: 80%; 
    margin: auto;
    font-size: 200px;
}

.keyList{
    width: 80%; 
    margin: auto;
}


.none{

}

.spacer {
    margin-bottom: 10px;
}


.green{
    background-color: lightgreen;
}

.red{
    background-color: red;
}